/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer {
  background-color: #1a243d;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23141c2f' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.projectTitle {
  color: white;
  margin-bottom: 50px;
}

.indexLogo {
  max-width: 80%;
  width: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.promoButton {
  color: white;
  border: solid 1px white;
  background: transparent;
  margin: 10px;
  margin-bottom: 20px;
  opacity: 0.9;
}
.promoButton:hover {
  opacity: 1;
}

.docs-prev,
.docs-next {
  text-transform: none;
}

.nav-footer {
  padding-top: 3em;
}

.post a:not(.button) {
  color: #0052cc;
}

.nav-site.nav-site-internal li {
  margin: 0 8px !important;
}
